<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="http://127.0.0.1:5000/prediccion" method="post" enctype=multipart/form-data> 
            <input id="inputImagen" type="file" name="inputImagen"
                    src="https://raw.githubusercontent.com/mdn/learning-area/master/html/forms/image-type-example/login.png" 
                    alt="Login" width="100">    
            <button type="submit">Predecir</button>
        </form>
    </body>
</html>