<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">TP Final</h3>
  </div>
  <div class="panel-body">
    <h3>Sistema de toma de decisiones</h3>

    <div class="row">
      <div class="center">
        <!-- <input type="file" (change)="fileChange($event)" placeholder="Upload file" >-->
        <!--accept=".pdf,.doc,.docx"-->

        <file-drop headertext="Arrastre los archivos aquí" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
          <span> Para observar los archivos cargados...</span>
        </file-drop>

          <div *ngIf="cargando" class="row" align="center">
            <label>{{nombreimagen}}</label>
          </div>
          <img [src]="url" *ngIf="cargando" (change)="readUrl($event)" width="50%" height="50%">
 

        <div class="upload-table">
          <table class="table">
            <thead align="center">
              <tr>
                <th>Nombre de los archivos</th>
              </tr>
            </thead>
            <tbody class="upload-name-style">
              <tr *ngFor="let item of files; let i=index">
                <td>
                  <strong>{{ item.relativePath }}</strong>
                  <img src={{item.name}}>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row" align="center">
    <button (click)="enviarArchivos()" type="button" class="btn btn-primary">Enviar imagenes</button>
  </div>

  <div *ngIf="error.length > 0">

    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Hubo un error al procesar la imagen: </strong> {{error}}
    </div>

  </div>
  <div *ngIf="respuesta?.estado > 0">

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre de m&eacute;todo</th>
            <th>Predicci&oacute;n</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resultado of respuesta.result">
            <td>{{resultado.nombre_modelo}}</td>
            <td>{{resultado.label}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="well">
    <h3>Integrantes</h3>
    <ul class="list-group">
      <li class="list-group-item">Moyano Ivana</li>
      <li class="list-group-item">Calfuquir Nicolás</li>
      <li class="list-group-item">Mansilla Damián</li>
      <li class="list-group-item">Mura Gaston</li>
    </ul>

  </div>